* {
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("assets/bg.jpg");
}

main {
  width: 80vw;
  height: 80vh;
  background: linear-gradient(to bottom, #414141, #211b1b);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  
  padding: 20px;
  text-align: center;
  color: #e7d9d9;
  
}

section {
  width: 100%;
}
.markdown > * {
  all: revert;
}

section.populated {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  ::-webkit-scrollbar{
    display: none;
  }
  
  
}
section.populated::-webkit-scrollbar{
  display: none;
}
.scrollDiv{
  height: 100%;
  overflow-y:scroll;
  
}


.starter-text {
  padding: 0 80px;
}

.form-div{
  height: 100px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  height: 50px;
  width: 100%;
  display: flex;
  border-top: #828282 solid 2px;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

input.question-box {
  width: 85%;
  padding: 10px;
  font-size: 15px;
  color: #383838;
  border: none;
}

input[type="submit"] {
  width: 15%;
  padding: 10px;
  font-size: 15px;
  border: none;
  color: #fff;
  background-color: #411b8d;
}

input:focus {
  outline: none;
}

.loader {
  margin: 10px;
  width: 60px;
  aspect-ratio: 4;
  background: no-repeat radial-gradient(circle closest-side, #f3ebeb 90%, #211b1b00) 0 50%,
              no-repeat radial-gradient(circle closest-side, #faf7f7 90%, #211b1b00) 50% 50%,
              no-repeat radial-gradient(circle closest-side, #efeaea 90%, #211b1b00) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}


.bubble{
    margin: 8px;
    padding: 8px;
    font-size:15px;
    border:none;
    color:#383838;
    box-shadow: #959da533 0 8px 24px;
    width: 80%;
    text-align: left;
}

.bubble.user {
    border-radius:20px 20px 0 20px;
    background-color: #E1F4FFFF;
    margin-left:auto;
}

.bubble.assistant{
    border-radius: 20px 20px 20px 0;
    background-color: #dce7ff;
}
.prompt-suggestion-row{
  width: 100%;
}

.prompt-suggestion-button{
  margin:8px;
  padding:8px;
  font-size: 15px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  color: #383838;
  box-shadow:#959da533 0 8px 24px;
}
code{
  background: #230101;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #b6b2b2;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}